version: "3.8"

services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "7070:7070"
    volumes:
      - ./backend:/app

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "8080:80"
    depends_on:
      - backend
